

/*-------------------------5555--------------------------*/
.clear:after, .clearfix:after {
	content:' ';
	display:block;
	clear:both;
	height:0;
	visibility:hidden
}
.fx_grid_c1 {
	width:990px;
	margin:0 auto
}
.fx_mod_ib {
	display:inline-block;
*display:inline;
*zoom:1;
	vertical-align:middle
}
.fx_mod_seo {
	position:absolute;
	top:-9999em;
	left:-9999em
}
 @media(min-width:1224px) {
.ic_rwd .mod_search {
	width:320px
}
.ic_rwd .mod_search_con {
	width:240px
}
.ic_rwd .mod_smartbox {
	width:248px
}
.ic_rwd .mod_smartbox .autocomplete li span {
	width:120px
}
.ic_rwd .mod_skey {
	width:250px
}
.ic_rwd .grid_c1 {
	width:980px
}
.fx_rwd .fx_grid_c1 {
	width:990px
}
.fx_rwd .fx_mod_proitem {
	width:485px;
	margin:0 5px 20px 5px
}
}
@media(min-width:1224px) and (max-width:1601px) {
.ic_rwd .grid_c1 {
	width:1020px
}
.fx_rwd .fx_grid_c1 {
	width:1040px
}
.fx_rwd .fx_mod_proitem {
	width:500px;
	margin:0 10px 20px 10px
}
.fx_mod_tabs {
	margin-left:10px
}
}
@media(min-width:1601px) {
.ic_rwd .grid_c1 {
	width:1495px
}
.fx_rwd .fx_grid_c1 {
	width:1515px
}
.fx_rwd .fx_mod_proitem {
	width:485px;
	margin:0 10px 20px 10px
}
.fx_mod_tabs {
	margin-left:10px
}
.fx_banner .fx_banner_pre {
	left:-250px
}
.fx_banner .fx_banner_next {
	right:-250px
}
}
.fx_banner {
	background:#f0f0f0;
	width:1903px;
	overflow:hidden;
	position:relative;
	margin:0px auto;
}
.fx_banner_inner {
	position:relative;
	height:420px;
}
.fx_banner_view {
	display:block;
	cursor:pointer;
	width:236px;
	height:65px;
	position:absolute;
	top:277px;
	left:2px;
	background:url(/style/css/img/-1blank)
}
.fx_banner_view2 {
	display:block;
	cursor:pointer;
	width:236px;
	height:65px;
	position:absolute;
	top:277px;
	left:163px;
	background:url(/style/css/img/-1blank)
}
.fx_banner_img {
	width:20000px
}
.fx_banner_img li {
	float:left;
	height:420px;
	width:1903px;
	position:relative
}
.fx_banner_link {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:420px;
	cursor:pointer
}
.ie .fx_banner_link {
	background:url(/style/css/img/-1blank)
}
.fx_banner .child {
	position:absolute;
	width:1903px;
	height:420px;
	left:-188px;
}



.fx_banner_common {
	position:relative
}
.fx_banner_pre {
	position:absolute;
	top:50%;
	left:0;
	margin-top:-280px;
	width:41px;
	height:119px;
	cursor:pointer;
	background:url(/style/css/img/ban_pre_24.png);
	opacity:.5;
	filter:alpha(opacity=50)
}
.ie6 .fx_banner_pre, .ie6 .fx_banner_pre:hover {
	background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/style/css/img/ban_pre_24.png', sizingMethod='scale')
}
.fx_banner_next {
	position:absolute;
	top:50%;
	right:0;
	margin-top:-280px;
	width:41px;
	height:119px;
	cursor:pointer;
	background:url(/style/css/img/ban_next_24.png);
	opacity:.5;
	filter:alpha(opacity=50)
}
.ie6 .fx_banner_next, .ie6 .fx_banner_next:hover {
	background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/style/css/img/ban_next_24.png', sizingMethod='scale')
}
.fx_banner_pre:hover, .fx_banner_next:hover {
	opacity:1;
	filter:alpha(opacity=100)
}
.fx_content {
	background-color:#DBDBDB;
	padding:20px 0 1px 0;
*padding-bottom:20px
}
.fx_banner .control {
	width:200px;
	position:absolute;
	top:388px;
	left:50%;
	margin-left:-100px;
	text-align:center
}
.fx_banner .control li {
	display:inline-block;
*display:inline;
*zoom:1;
	margin:0 5px;
	width:18px;
	height:18px;
	border-radius:50%;
	cursor:pointer;
	background:url(/style/css/img/bannerdian.png) no-repeat center !important;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/style/css/img/bannerdian.png', sizingMethod='scale');
	background:none;
}
.fx_banner .control li a {
	display:none
}
.fx_banner .control li.current {
	width:18px;
	height:18px;
	margin-bottom:2px;
	background:url(/style/css/img/bannerdian2.png) no-repeat center !important;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/style/css/img/bannerdian2.png', sizingMethod='scale');
	background:none;
}
/*  |xGv00|5f0666321628fce1fb6ba2cda6050abf */
