
/*-----------------------头部样式----------------------------*/
#head{ width:100%; height:31px; background:#262626;}
.head-c{ width:1100px; margin:0px auto;}
.head-cl{ width:350px; float:left;}
.head-cl span{ float:left; color:#aaa; line-height:31px;}
.head-cl a{ width:20px; height:20px; margin-top:5px; margin-right:8px; display:block; float:left;transition: all 0.3s linear 0s;}
.head-cl-a1{ background:url(../style/css/img/order-c1-ico.jpg) -327px -94px no-repeat;}
.head-cl-a1:hover{ background:url(../style/css/img/order-c1-ico.jpg) -327px -114px no-repeat;}
.head-cl-a2{ background:url(../style/css/img/order-c1-ico.jpg) -347px -94px no-repeat;}
.head-cl-a2:hover{ background:url(../style/css/img/order-c1-ico.jpg) -347px -114px no-repeat;}
.head-cl-a3{ background:url(../style/css/img/order-c1-ico.jpg) -367px -94px no-repeat;}
.head-cl-a3:hover{ background:url(../style/css/img/order-c1-ico.jpg) -367px -114px no-repeat;}
.head-cl-a4{ background:url(../style/css/img/order-c1-ico.jpg) -387px -94px no-repeat;}
.head-cl-a4:hover{ background:url(../style/css/img/order-c1-ico.jpg) -387px -114px no-repeat;}

.head-cc{ line-height:31px; float:left; margin-left:125px;}
.head-cc span{ margin-right:20px;float:left;}
.head-cc a{ color:#aaa; padding:2px 5px; transition: all 0.3s linear 0s;border-radius:2px;}
.head-cc a:hover{ color:#fff; background:#91263a; text-decoration:none;}

.head-cr{ width:57px; height:21px; float:right; margin-top:5px; cursor:pointer; background:url(../style/css/img/order-c1-ico.jpg) -270px -94px no-repeat; position:relative;}
.head-cr:hover{ background:url(../style/css/img/order-c1-ico.jpg) -270px -115px no-repeat;}
.head-cr:hover span,.head-cr:hover div{ display:block;}
.head-cr span{ width:57px; height:6px; display:block; position:absolute; right:0px; top:21px; background:url(../style/css/img/order-c1-ico.jpg) -270px -136px no-repeat; display:none;}
.head-cr div{ width:200px; height:100px; padding:10px 0px; background:#fff; position:absolute;right:0px; top:27px; display:none;}
.head-cr div p{ padding-left:5px; line-height:24px;}
.head-cr div p a{ padding:2px 5px; margin-left:1px; transition: all 0.3s linear 0s;border-radius:2px;}
.head-cr div p a:hover{color:#fff; background:#90243a;text-decoration:none;}

.top{ width:100%; height:114px; padding-top:30px; background:#f1f1f1;}
.top-c{ width:1100px; margin:0px auto;}
.logo{ width:510px; float:left;}
.logo-pic{ width:391px; float:left; overflow:hidden;}
.logo-ico{ width:121px; float:left; height:23px; display:none; background:url(../style/css/img/logo-pic.jpg) no-repeat;}
.logo-ico a{ width:125px; height:23px; display:block; }

.top-r{ width:565px; float:right}
.top-r1{ width:353px; overflow:hidden; padding-top:33px; float:left;}
.top-r1-c{ width:390px;}
.top-r1-c dl{ width:129px; float:left;}
.top-r1 dd{ width:35px; float:left;}
.top-r1 dd a{ width:35px; height:35px; display:block; background:url(../style/css/img/order-c1-ico.jpg) no-repeat 0px 0px;transition: all 0.3s linear 0s;}
#dd1{ background-position:0px -320px;}
.top-r1 dl:hover dd #dd1{ background-position:0px -355px;}
#dd2{ background-position:-35px -320px;}
.top-r1 dl:hover dd #dd2{ background-position:-35px -355px;}
#dd3{ background-position:-70px -320px;}
.top-r1 dl:hover dd #dd3{ background-position:-70px -355px;}
.top-r1 dt{ width:84px; float:left; padding-top:2px; padding-left:10px;}

.top-r2{ width:189px; padding-top:28px; float:right;}
.top-r2 a span{ width:44px; height:44px; display:block; float:left; background:url(../style/css/img/order-c1-ico.jpg) -260px -143px no-repeat;transition: all 0.3s linear 0s;}
.top-r2 a:hover span{ background:url(../style/css/img/order-c1-ico.jpg) -260px -187px no-repeat;}
.top-r2 a s{ float:left;}

.nav-r{ width:113px; height:43px; line-height:43px; text-align:center; float:right;}
.nav-r a{ width:113px; height:43px; display:block; color:#f1f1f1; font-size:14px; background:url(../style/css/img/order-c1-ico.jpg) -407px -94px repeat-x;}
.nav-r a:hover{ text-decoration:none; color:#f1f1f1; background:url(../style/css/img/order-c1-ico.jpg) -407px -138px repeat-x;}


/*-----------------------菜单样式----------------------------*/
#nav{ width:100%; height:43px; background: url(../style/css/img/ico.jpg) repeat-x;}
.nav{ width:1100px; margin:0px auto; height:43px; font-family:"微软雅黑","黑体";border-left:1px solid #191919;position:relative; z-index:98;}

/*导航条*/
.nav-ul{ width:710px; float:left; border-left:1px solid #353535;}
.nav-ul li{ width:117px; line-height:43px; float:left; font-size:18px; color:#fff; position:relative; height:43px; overflow:hidden;}
.nav-ul li a{ width:117px; text-align:center; color:#fff; height:43px; display:block; text-decoration:none;}
.nav-ul span{position: absolute; left: 0; width: 117px; cursor:pointer;}
.nav-ul .out{ top:0px; width:117px; height:43px; line-height:43px; color:#fff; text-align:center;}
.nav-ul .over{ top:-43px;  width:117px; height:43px; line-height:43px; text-align:center; color:#fff; background:#91253b;}


.nav-l{ width:233px; height:43px; float:left; position:relative; z-index:98;}
.nav-l-span{ height:43px; line-height:43px; padding-left:17px; border-left:1px solid #353535; border-right:1px solid #191919; display:block; font-size:18px; color:#fff;position: relative;}
.nav-l-span i{width:15px;height:15px;position:absolute;top:15px;right:15px;display:block;background:url(../style/css/img/pic-png.png) no-repeat;}
.nav-l-span:hover i{background:url(../style/css/img/pic-png-hover.png) no-repeat;
-webkit-transition: -webkit-transform 0.4s ease-out;
-moz-transition: -moz-transform 0.4s ease-out;
-ms-transition: -moz-transform 0.3s ease-out;
-o-transition: -moz-transform 0.3s ease-out;
transition: transform 0.4s ease-out;}

.nav-l-hover i{ background:url(../style/css/img/pic-png-hover.png) no-repeat;-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);transform: rotate(180deg);}
.nav-l-hover{ background:#91263a;}


.nav-submenu{ width:232px; position:absolute; left:0px; top:43px; z-index:98; overflow:hidden;}
.nav-submenu-xl{ width:869px; height:420px; position:absolute; left:231px; top:43px; z-index:99; display:none;}


/*-----------------------二级菜单样式----------------------------*/
#submenu{ border-right:1px solid #f1f1f1; position:relative;}
.submenu1{ width:230px; height:92px; padding-left:3px; padding-top:10px; padding-bottom:2px; border-bottom:1px solid #e5e5e5; background:#fff; position:absolute; left:0px; bottom:0px; _top:-105px;}

#submenu1{ z-index:999;}
#submenu2{ z-index:998;}
#submenu3{ z-index:997;}
#submenu4{ z-index:996;}

.submenu1 h3{ padding-left:50px; height:25px; margin-bottom:7px; line-height:25px; font-family:"微软雅黑","黑体"; font-size:16px;}
.submenu1 h3 a{ display:block; color:#000;}
.submenu1-t1{ background:url(../style/css/img/ico.jpg) 18px -88px no-repeat;}
.submenu1-t2{ background:url(../style/css/img/ico.jpg) 18px -112px no-repeat;}
.submenu1-t3{ background:url(../style/css/img/ico.jpg) 18px -138px no-repeat;}
.submenu1-t4{ background:url(../style/css/img/ico.jpg) 18px -162px no-repeat;}
#submenu1-t5{ background:url(../style/css/img/ico.jpg) 18px -187px no-repeat;}

.submenu1 ul{ padding-left:15px;}
.submenu1 li a{ margin-right:4px; padding:3px 5px;border-radius:2px; color:#000;}
.submenu1:hover li a{ color:#fff;}
.submenu1 li a:hover{ color:#91263a; text-decoration:none; -webkit-transition: all .3s linear 0s; -moz-transition: all .3s linear 0s; -ms-transition: all .3s linear 0s; outline: none;star:expression(this.onFocus=this.blur()); background:#fff;}

.submenu1-hover{ padding-left:0px; padding-top:7px; border:3px solid #91263a; padding-bottom:0px; border-right:0px; background:#91263a;}
.submenu1-hover h3{ border:none; padding:0px; padding-left:50px;}
.submenu1-hover h3 a{ text-decoration:none; color:#fff;}
.submenu1-hover h3 a:hover{ color:#fff;}
.submenu1-hover a{ color:#fff;}
.submenu1-hover li a{ color:#fff;}
.submenu1-hover .submenu1-t1{ background:url(../style/css/img/ico2.jpg) 18px -88px no-repeat;}
.submenu1-hover .submenu1-t2{ background:url(../style/css/img/ico2.jpg) 18px -112px no-repeat;}
.submenu1-hover .submenu1-t3{ background:url(../style/css/img/ico2.jpg) 18px -138px no-repeat;}
.submenu1-hover .submenu1-t4{ background:url(../style/css/img/ico2.jpg) 18px -162px no-repeat;}
.submenu1-hover #submenu1-t5{ background:url(../style/css/img/ico2.jpg) 18px -187px no-repeat;}


/*-----------------------三级菜单样式----------------------------*/
.xl-menu{ width:866px; border:3px solid #91263a; overflow:hidden; background:#fff; color:#3f3f3f;}


.xl-menu-l{ width:613px; height:414px; overflow:hidden; float:left; margin-left:10px; position:relative;}
.xl-menu-wc{background-color:#fff; background:url(../style/css/img/xl-menu-wc-bg.png) bottom no-repeat; position:relative;}
.xl-menu-yk{background-color:#fff; background:url(../style/css/img/xl-menu-yk-bg.png) bottom no-repeat; position:relative;}

#xl-menu-wc-button{position:absolute; bottom:30px; left:350px; width:130px; height:42px; line-height:42px; color:#fff; background:#0066Ac; font-size:20px; text-align:center; text-decoration:none;}
#xl-menu-yk-button{position:absolute; bottom:30px; left:135px; width:130px; height:42px; line-height:42px; color:#fff; background:#508A23; font-size:20px; text-align:center; text-decoration:none;}

/* .xl-menu-l div{ height:38px; padding-top:13px; border-bottom:1px solid #ebebeb;}
.xl-menu-l div:hover{ background:#91263a;}
.xl-menu-l div:hover b{ color:#fff;}
.xl-menu-l div:hover a{ color:#fff;} */

#xl-menu-l-div2{ height:48px;}
#xl-menu-l-bg1{ width:0px; height:74px; border:none; position:absolute; left:0px; top:39px;}
#xl-menu-l-bg2{ width:0px; height:74px; border:none; position:absolute; left:0px; top:171px;}
#xl-menu-l-bg3{ width:0px; height:74px; border:none; position:absolute; left:0px; top:303px;}
#xl-menu-l-bg4{ width:0px; height:50px; border:none; position:absolute; left:0px; top:435px;}
.xl-menu-l-ul{ padding-left:12px; margin-top:20px;}
.xl-menu-l-ul li{ width:230px; float:left; height:30px; padding-left:5px;background: url(../style/css/img/d_ico.jpg) 0px 11px no-repeat;}
.xl-menu-l-ul li a{ color:#333; padding-left:3px; padding:3px 5px;border-radius:2px;}
.xl-menu-l-ul li a:hover{ color:#fff; text-decoration:none; -webkit-transition: all .3s linear 0s; -moz-transition: all .3s linear 0s; -ms-transition: all .3s linear 0s; outline: none;star:expression(this.onFocus=this.blur()); background:#91263a;}

.xl-menu-l b{ width:74px; height:38px; display:block; float:left; padding-left:5px;} 
.xl-menu-l b a{ padding:3px 5px;border-radius:2px; color:#333;}
/* .xl-menu-l b a:hover{ color:#91263a; text-decoration:none; -webkit-transition: all .3s linear 0s; -moz-transition: all .3s linear 0s; -ms-transition: all .3s linear 0s; outline: none;star:expression(this.onFocus=this.blur()); background:#fff;} */
/* .xl-menu-l p{ width:530px; float:left;} */
.xl-menu-l p .red{ color:#91263a;}
.xl-menu-l p a{ margin-left:0px; color:#222; padding:3px 5px;border-radius:2px;}
.xl-menu-l p a:hover{ color:#91263a; text-decoration:none; -webkit-transition: all .3s linear 0s; -moz-transition: all .3s linear 0s; -ms-transition: all .3s linear 0s; outline: none;star:expression(this.onFocus=this.blur()); background:#fff;}


.xl-menu-r{ width:212px; float:right; margin-right:18px; padding-top:8px; display:inline;}
.xl-menu-r1{ height:300px;}
.xl-menu-r1-t{ height:35px; line-height:35px; font-family:"微软雅黑","黑体"; font-size:16px; color:#91253b;}
.xl-menu-r2{}
.xl-menu-r2-t{ line-height:40px; line-height:40px; font-family:"微软雅黑","黑体"; font-size:16px; color:#91253b;}
.xl-menu-r1-c{ width:211px; height:260px; border-bottom:1px solid #dfdfdf; overflow:hidden;}
.xl-menu-r2-c{ width:208px; height:54px; border-left:1px solid #dfdfdf; border-top:1px solid #dfdfdf;}
.xl-menu-r2-c span{ width:103px; height:53px; float:left; border-right:1px solid #dfdfdf; border-bottom:1px solid #dfdfdf; overflow:hidden; position:relative;}
.xl-menu-r2-c p{ display:none;}
.xl-menu-r2-c a{width:103px; height:53px; display:block; text-decoration:none; cursor:pointer;}
.xl-menu-r2-c a:hover .xl-menu-r2-cp{ width:103px; height:43px; line-height:18px; padding-top:10px; color:#fff; text-decoration:none; text-align:center; position:absolute; left:0px; top:0px; background:#333;filter:alpha(opacity=80); -moz-opacity:0.8; opacity:0.8; display:block;}

.xl-menu-r3{ height:65px;}

.xl-menu-l-part{width:186px; height:100%; float:left; padding:0px 8px;}
#xl-menu-l-div3{ width:185px;}
#xl-menu-l-div3 .xl-menu-l-div3-b{ width:185px; font-size:14px; height:40px; line-height:55px; border-bottom:1px solid #333;}
#xl-menu-l-div3 .xl-menu-l-div3-b b a:hover{text-decoration:none; color:#91263a;}
#xl-menu-l-div3 .xl-menu-l-div3-p{ width:185px; padding-top:4px;}
#xl-menu-l-div3 .xl-menu-l-div3-p p{display:block;}
#xl-menu-l-div3 .xl-menu-l-div3-p:hover{background-color:#f1f1f1;}

/*-----------------------三级菜单图片特效样式----------------------------*/
.xl-menu-r1 .mod_goods_img{position:relative}
.xl-menu-r1 .mod_goods_img a:before{content:'';position:absolute;width:25px;height:242px;top:0;left:-80px;overflow:hidden;background:-moz-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0) 100%);background:-webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,0.4)),color-stop(100%,rgba(255,255,255,0)));background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0) 100%);background:-o-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0) 100%);-webkit-transform:skewX(-25deg);transform:skewX(-25deg)}
.xl-menu-r1 .mod_goods_img:hover a:before{-webkit-animation:aniBlink120 .4s ease-out forwards;-moz-animation:aniBlink120 .4s ease-out forwards;-o-animation:aniBlink120 .4s ease-out forwards;animation:aniBlink120 .4s ease-out forwards}
@-webkit-keyframes aniBlink120{from{left:-60px}to{left:265px}}
@keyframes aniBlink120{from{left:-60px}to{left:150px}}
@-webkit-keyframes aniBlink60{from{left:-30px}to{left:70px}}
@keyframes aniBlink60{from{left:-30px}to{left:70px}}



/*-----------------------第一大块通栏内容样式----------------------------*/
#main1{ width:1100px; margin:0px auto; background:#fff; margin-top:10px;}
.main1-l{ width:235px; float:left;}
.main1-r{ width:865px; float:left; padding-top:1px;}



/*品牌故事*/
.idxppgs{ width:234px;  border-right: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; padding-bottom:8px; display:inline-block;}
.idxppgs .idxppgs_tit{ padding-left:15px; width:inherit; margin:15px 0px; display:inline-block;}
.idxppgs .idxppgs_lg{ width:202px; height:107px; background:url(/zx../style/css/img/idxppgs_lg.jpg) no-repeat; margin:0px auto 15px auto;}
.idxppgs .idxppgs_lg a{ width:202px; height:107px; display: none; background:url(../style/css/img/idxppgs_lg2.jpg) no-repeat bottom; }
.idxppgs .idxppgs_lg:hover a{ display:block;  }
.idxppgs .idxppgs_txt{ line-height:200%; text-indent:2em; padding:0px 10px;}
.idxppgs .idxppgs_txt a{ cursor:pointer;padding:0px 5px; padding-bottom:1px;border-radius:2px;transition: all 0.3s linear 0s;}
.idxppgs .idxppgs_txt a:hover{color:#fff; text-decoration:none; background:#8e2239;}

/*-----------------------预约中心样式----------------------------*/
.order{ padding-left:20px; height:220px; padding-top:20px; border-right:1px solid #e5e5e5; background:#fff;}
.order a{text-decoration: none; -webkit-transition: all .3s linear 0s; -moz-transition: all .3s linear 0s; -ms-transition: all .3s linear 0s; outline: none;star:expression(this.onFocus=this.blur()); }
.order-t{ padding-left:34px; height:25px; line-height:25px; margin-bottom:15px; font-family:"微软雅黑","黑体";font-size:16px; font-weight:normal; color:#000; background:url(../style/css/img/ico.jpg) -276px -137px no-repeat;}
.order-c{}
.order-c dl{ width:54px; height:85px; float:left; margin-right:16px; display:inline;}
.order-c dd{ width:54px; height:47px; text-align:center;}
.order-c dd a{ width:54px; height:47px; display:block;}
.order-c dt{ width:54px; height:32px; line-height:32px; text-align:center;}
.order-c1 dd a{ background:url(../style/css/img/order-c1-ico.jpg) 0px 0px no-repeat;}
.order-c1:hover dd a{ background:url(../style/css/img/order-c1-ico.jpg) 0px -47px no-repeat;}
.order-c1:hover dt a{ color:#b62626;}
.order-c2 dd a{ background:url(../style/css/img/order-c1-ico.jpg) -54px 0px no-repeat;}
.order-c2:hover dd a{ background:url(../style/css/img/order-c1-ico.jpg) -54px -47px no-repeat;}
.order-c2:hover dt a{ color:#8b643f;}
.order-c3 dd a{ background:url(../style/css/img/order-c1-ico.jpg) -108px 0px no-repeat;}
.order-c3:hover dd a{ background:url(../style/css/img/order-c1-ico.jpg) -108px -47px no-repeat;}
.order-c3:hover dt a{ color:#3d596b;}
.order-c4 dd a{ background:url(../style/css/img/order-c1-ico.jpg) -162px 0px no-repeat;}
.order-c4:hover dd a{ background:url(../style/css/img/order-c1-ico.jpg) -162px -47px no-repeat;}
.order-c4:hover dt a{ color:#587544;}
.order-c5 dd a{ background:url(../style/css/img/order-c1-ico.jpg) -216px 0px no-repeat;}
.order-c5:hover dd a{ background:url(../style/css/img/order-c1-ico.jpg) -216px -47px no-repeat;}
.order-c5:hover dt a{ color:#a53a67;}
.order-c6 dd a{ background:url(../style/css/img/order-c1-ico.jpg) -270px 0px no-repeat;}
.order-c6:hover dd a{ background:url(../style/css/img/order-c1-ico.jpg) -270px -47px no-repeat;}
.order-c6:hover dt a{ color:#663a47;}


/*-----------------------banner样式----------------------------*/
.banner{ width:865px; height:395px; overflow:hidden; background:#15232c; position:relative;}
.banner-t{height:395px; position:relative;}
.banner-t li{width:865px; height:395px; position:absolute; top:0px; left:0px;}
.banner-m{position:absolute; width:100%; height:25px; line-height:40px; bottom:0px; text-align:right;}
.banner-m ul{float:right;}
.banner-m ul li{width:20px; height:20px; margin:0px 5px; float:left; text-align:center; line-height:20px; background-color:#444; border-radius: 10px;  -webkit-border-radius: 10px; -moz-border-radius: 10px;}

.banner-m ul li a{display:block; cursor:pointer; text-decoration:none; color:#fff; font-weight:bold;}
.banner-m .on{background-color:#8e2239;}
#hotspot{ padding-top:18px; height:236px; border-bottom:1px solid #ebebeb;}

/*-----------------------整形热议样式----------------------------*/
.hotspot-l{ width:460px; float:left;}

.hot-news1{ height:122px; padding-left:15px; border-bottom:1px solid #ebebeb;}
.hot-news1-t{ height:35px;}
.hot-news1-c{}
.hot-news1-c h1{ line-height:32px; font-size:18px; font-family:"微软雅黑","黑体"; font-weight:normal;}
.hot-news1-c h1 a{color:#8e2239; padding:0px 3px; padding-bottom:1px;border-radius:2px;transition: all 0.3s linear 0s;}
.hot-news1-c h1 a:hover{color:#fff; text-decoration:none; background:#8e2239;}
.hot-news1-c p a{color:#8e2239; padding:1px 5px; padding-bottom:2px;border-radius:2px;transition: all 0.3s linear 0s;}
.hot-news1-c p a:hover{ color:#fff; text-decoration:none; background:#8e2239}

.hot-news2{ padding-left:15px; padding-top:6px;}
.hot-news2 ul li{ float:left; width:215px; background:url(../style/css/img/d_ico.jpg) no-repeat center left; padding-left:5px; margin:4px 0px;}
.hot-news2 ul li a{ cursor:pointer; padding:2px 5px;border-radius:2px;transition: all 0.3s linear 0s;}
.hot-news2 ul li a:hover{ color:#fff; text-decoration:none; background:#8e2239;}

/*-----------------------活动专区样式----------------------------*/
.hotspot-r{ width:343px; float:right; margin-right:15px;}
.hotspot-r-t{ height:35px;}
#con_foot{width:343px; margin:0px auto; height:183px; position:relative;}
#con_foot li{float:left; cursor:pointer;}
.con_footl{ position:absolute; right:16px; top:-22px;}
.con_footr{ position:absolute; right:0px; top:-22px;}
.nr1{ width:343px; float:left; background:#333; margin-right:1px; height:183px;}

/*-----------------------时尚申城样式----------------------------*/
.fashion{ padding-left:15px; padding-top:17px; height:205px;}
.fashion-t{ height:38px;}
#fashion-t-ico{ width:110px; text-align:right; height:20px; margin-right:12px; line-height:20px; float:right; font-family:"微软雅黑","黑体"; font-size:16px; cursor:pointer;}
#fashion-t-ico:hover{ color:#661828;transition: all 0.3s linear 0s;}
.fashion-c-js{width:840px; height:162px; position:relative; overflow:hidden;}

#fashion-t-ico s{ text-decoration:none;}

#fashion-t-ico  .ai{-moz-transition: -moz-transform 0.4s ease-out;
-ms-transition: -moz-transform 0.3s ease-out;
-o-transition: -moz-transform 0.3s ease-out;
transition: transform 0.4s ease-out;}

#fashion-t-ico i{ width:20px; height:20px; display:block; float:left; background:url(../style/css/img/ico.jpg) -280px -167px no-repeat;}

#fashion-t-ico .ad{ width:20px; height:20px; display:block; float:left; 
-webkit-transition: -webkit-transform 0.4s ease; 
-moz-transition: -moz-transform 0.4s ease-out;
-ms-transition: -moz-transform 0.4s ease-out;
-o-transition: -moz-transform 0.4s ease-out;
transition: transform 0.4s ease-out;
background:url(../style/css/img/ico.jpg) -280px -167px no-repeat; 
-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
transform: rotate(360deg);}





.fashion-c{ width:139px; float:left; overflow:hidden;}
.fashion-c .show{opacity:1;}
.fashion-c dl{ width:138px; height:162px; float:left; margin-right:1px;}
.fashion-c dl:hover dd{ background:#8e2239;text-decoration: none;  -webkit-transition: all .3s linear 0s; -moz-transition: all .3s linear 0s; -ms-transition: all .3s linear 0s; outline: none;star:expression(this.onFocus=this.blur()); }

.fashion-c dd{ width:138px; height:54px; margin-bottom:3px; overflow:hidden; color:#fff; background:#666;}
.fashion-c dd h3{ height:25px; line-height:25px; margin-top:5px; font-family:"微软雅黑","黑体"; font-size:16px; text-align:center; font-weight:normal;}
.fashion-c dd p{}
.fashion-c dd p s{ padding-left:33px; padding-top:5px; float:left;}
.fashion-c dd p span{ float:left; line-height:20px; padding-left:5px;}
/*libinwin@foxmail.com*/

.fashion-c dt{ width:138px; height:105px; overflow:hidden; position:relative;}
.fashion-c dt span{ width:138px; height:106px; background:#333; position:absolute; left:0px; bottom:0px;filter:alpha(opacity=60); -moz-opacity:0.6; opacity:0.6; display:block;text-decoration: none;  -webkit-transition: all .3s linear 0s; -moz-transition: all .3s linear 0s; -ms-transition: all .3s linear 0s; outline: none;star:expression(this.onFocus=this.blur()); }
.fashion-c dl:hover dt span{ height:25px; line-height:25px; text-align:center; color:#fff; text-decoration:none;filter:alpha(opacity=90); -moz-opacity:0.9; opacity:0.9;}
.fashion-c dt span p{ display:none;}
.fashion-c dl:hover dt span p{ display: block;}


/*-----------------------首页第一个通栏广告样式----------------------------*/
#idx_adv1{ width:1100px; height:90px; margin:0px auto; margin-top:20px; background:#333;}



/*-----------------------第二大块通栏内容样式----------------------------*/
#main2{ width:1100px; margin:0px auto; margin-top:20px; padding-top:20px; background:#fff;}

/*----------------------特诊专家样式----------------------------*/
.main2-l{ width:294px;}
.main2-l1{ margin-left:15px; height:208px;}
.main2-l1-t{ height:37px;}
.main2-l1-c{ height:164px; background:#333;}

#main2-l2{ margin-left:15px; border-top:1px solid #e5e5e5; padding-top:1px;}
.main2-l2-t{ padding-left:4px; height:36px; line-height:36px; color:#d3a8b1; background:#8d2c40;}
.main2-l2-t span{ width:26px; height:26px; display:block; float:left; margin-top:5px; background:url(../style/css/img/ico.jpg) -274px -189px no-repeat;}
.main2-l2-t b{ margin:0px 2px; font-size:16px; font-weight:normal; font-family:"微软雅黑","黑体"; color:#fff;}
.main2-l2-c{ height:125px; padding-top:5px; padding-left:15px; border:1px solid #e5e5e5; border-top: none; background:#f0f0f0; overflow:hidden;}
.main2-l2-c li{ width:240px; line-height:30px;}
.main2-l2-c li s{ margin-right:15px; text-decoration:none;}
.main2-l2-c li span{ float:right;}

.main2-l3{ margin-left:5px; padding-top:10px; height:103px;}
.main2-l3 a{ width:86px; height:75px; display:block; float:left; margin-left:10px; display:inline;-webkit-transition: all .3s linear 0s; -moz-transition: all .3s linear 0s; -ms-transition: all .3s linear 0s; outline: none;star:expression(this.onFocus=this.blur()); }
.main2-l31{ background:url(../style/css/img/order-c1-ico.jpg) 0px -94px no-repeat;}
.main2-l31:hover{background:url(../style/css/img/order-c1-ico.jpg) 0px -169px no-repeat;}
.main2-l32{ background:url(../style/css/img/order-c1-ico.jpg) -87px -94px no-repeat;}
.main2-l32:hover{background:url(../style/css/img/order-c1-ico.jpg) -87px -169px no-repeat;}
.main2-l33{ background:url(../style/css/img/order-c1-ico.jpg) -174px -94px no-repeat;}
.main2-l33:hover{background:url(../style/css/img/order-c1-ico.jpg) -174px -169px no-repeat;}

/*----------------------玫瑰整形权威专家样式----------------------------*/
.main2-r{ width:765px; margin-right:15px;}
.main2-r1{ height:335px;}
.main2-r1 a{text-decoration: none;  -webkit-transition: all .3s linear 0s; -moz-transition: all .3s linear 0s; -ms-transition: all .3s linear 0s; outline: none;star:expression(this.onFocus=this.blur()); }
.main2-r1-t{ height:37px;}
.main2-r1-t a{ width:68px; height:19px; line-height:18px; float:right; margin-top:5px; display:block; padding-left:22px; font-size:16px; font-family:"微软雅黑","黑体"; background:url(../style/css/img/ico.jpg) -280px -216px no-repeat;}
.main2-r1-t a:hover{ color:#661828; text-decoration:none;}
.main2-r1-c{ height:280px;}
.main2-r1-c ul{}
.main2-r1-c li{ width:152px; height:280px; float:left; margin-right:1px; position:relative; overflow:hidden;}
.main2-r1-c li span{ width:152px; height:44px; display:block; background:#333; position:absolute; left:0px; bottom:-44px; filter:alpha(opacity=75); -moz-opacity:0.75; opacity:0.75;}
.main2-r1-c li span h4{ padding-top:3px; line-height:35px; text-align:center; font-weight:normal; font-size:16px; font-family:"微软雅黑","黑体"; color:#fff;}
.main2-r1-c li span h4 b{ font-size:22px; font-weight:normal; margin-right:8px;}
.main2-r1-c li span p{ padding:0px 10px; line-height:17px; color:#fff;}

.main2-r2{ height:140px;}
.main2-r2 a{text-decoration: none;  -webkit-transition: all .3s linear 0s; -moz-transition: all .3s linear 0s; -ms-transition: all .3s linear 0s; outline: none;star:expression(this.onFocus=this.blur()); }
.main2-r2-l{ width:575px; float:left;}
.main2-r2-l-t{ padding-left:20px; height:39px; line-height:25px; font-family:"微软雅黑","黑体"; font-size:15px; color:#000; background:url(../style/css/img/ico.jpg) -290px -237px no-repeat;}
.main2-r2-l-c{ height:96px;}
.main2-r2-l-c1{ width:91px; height:96px; float:left; margin-right:4px; position:relative; cursor:pointer;}
.main2-r2-l-c1 a{ text-decoration:none;}

.main2-r2-l-c2{ width:91px; height:96px; background:#333; filter:alpha(opacity=30); -moz-opacity:0.3; opacity:0.3; position:absolute; left:0px; top:0px; display:none; cursor:pointer;}
.main2-r2-l-c2 a{ text-decoration:none;}
.main2-r2-l-c3{ width:267px; height:116px; padding:12px 12px; background:url(../style/css/img/main2-r2-l-c3.gif) no-repeat; position:absolute; left:0px; bottom:96px; display:none; cursor:pointer;}
.main2-r2-l-c3 a{ text-decoration:none;}
.main2-r2-l-c3 dl{ height:68px; overflow:hidden;}
.main2-r2-l-c3 dd{ width:68px; float:left;}
.main2-r2-l-c3 dt{ width:195px; float:left;}
.main2-r2-l-c3 dt h4{ height:24px; line-height:22px; color:#942e43; font-size:12px; font-weight: normal;}
.main2-r2-l-c3 dt h4 span{ float:left;}
.main2-r2-l-c3 dt h4 s{ float:left; margin-left:5px;}
.main2-r2-l-c3 dt p{ line-height:20px; color:#404040;}
.main2-r2-l-c3 dt p span{ float:right;}
.main2-r2-l-c3 h3{ font-size:12px; font-weight:normal; line-height:22px; color:#000;}
.main2-r2-l-c3 h3:hover{color:#8e2239;}
.main2-r2-l-c3 h3 a{ color:#aaa;}
.main2-r2-l-c3 h3 a:hover{ color:#8e2239; text-decoration:none;}

.main2-r2-l-c1:hover .main2-r2-l-c2{ display:block;}
.main2-r2-l-c1:hover .main2-r2-l-c3{ display:block;}

.main2-r2-r{ width:185px; float:right;}
.main2-r2-r-t{ padding-left:20px; height:30px; line-height:25px; font-family:"微软雅黑","黑体"; font-size:15px; color:#000; background:url(../style/css/img/ico.jpg) -290px -237px no-repeat;}
.main2-r2-r-c{}
.main2-r2-r-c ul{}
.main2-r2-r-c li{ width:150px; overflow:hidden; padding-left:25px; height:27px; line-height:27px; background:url(../style/css/img/ico.jpg) 0px -237px no-repeat;}
.main2-r2-r-c li a{padding:2px 5px;border-radius:2px;}
.main2-r2-r-c li a:hover{color:#fff; text-decoration:none; background:#8e2239;}


/*-----------------------首页第二个通栏广告样式----------------------------*/
#idx_adv2{ width:1100px; height:90px; margin:0px auto; margin-top:20px; background:#333;}


/*-----------------------第三大块通栏内容样式----------------------------*/
.main3{ width:1085px; margin:0px auto; height:260px; margin-top:20px; padding-top:20px; padding-left:15px; background:#fff;}
.main3 ul{ float:left;}
.main3 li{ float:left; margin-right:4px; margin-bottom:4px; position:relative; display:inline; overflow:hidden;}
.main3 li span{ height:29px; line-height:29px; background:#333; text-align:center; position:absolute; left:0px; bottom:-29px; filter:alpha(opacity=90); -moz-opacity:0.9; opacity:0.9;}
.main3 li:hover span{ bottom:0px;transition: all 0.3s linear 0s; }
.main3 li span a{ color:#fff;}
.main3 li span a:hover{ color:#fff;text-decoration:underline}

/********************底部动态样式**********************************/

.bottom-ksnav{ width:1100px; margin:0px auto; height:100px; margin-top:22px; background:#6a6a6a;}
.bottom-ksnav ul{ padding-top:24px;}
.bottom-ksnav li{width:205px; float:left; margin-left:15px; display:inline; line-height:50px; font-size:14px; text-align:center; cursor:pointer;}
.bottom-ksnav li a{color:#FFF;}
.bottom-ksnav li span{display:block;width:63px; height:49px; background:url(../style/css/img/bottom.png) 0px 0px no-repeat; float:left;transition: all 0.2s linear 0s;-o-transition: all 0.2s linear 0s;-moz-transition: all 0.2s linear 0s;}
.bottom-ksnav li p{color:#aaa; display:block; float:left; padding-left:5px;}
.bottom-ksnav li:hover p{color:#fff;text-decoration:none;transition: all 0.4s linear 0s;-o-transition: all 0.2s linear 0s;-moz-transition: all 0.2s linear 0s;}
#a1{background-position:-67px -60px;}
.bottom-ksnav li:hover #a1{background-position:-67px -6px;}
#a2{background-position:5px -53px;}
.bottom-ksnav li:hover #a2{background-position:5px 0px;}
#a3{ background-position:-123px -55px;}
.bottom-ksnav li:hover #a3{ background-position:-123px -1px;}
#a4{ background-position:-191px -62px;}
.bottom-ksnav li:hover #a4{ background-position:-191px -8px;}
#a5{ background-position:-253px -60px;}
.bottom-ksnav li:hover #a5{ background-position:-253px -6px;}


.bottom-nav{ width:1090px; margin:0px auto; padding-left:10px; padding-top:30px; font-size:14px; line-height:36px; position:relative;} 
.bottom-nav-t{ height:37px;line-height:37px;color:#000; font-size:16px;}
.bottom-nav-t-l{width:200px; float:left;}
.bottom-nav-t-r{width:890px; float:left;}
.bottom-nav-t-r ul li{width:178px; height:37px; float:left; display:inline-block; text-align:center; cursor:pointer;}
.bottom-nav-t-r ul li span{width:45px;height:40px; display:block; float:left; background:url(../style/css/img/bt-xm.jpg) 0px 0px no-repeat;transition: all 0.2s linear 0s;-o-transition: all 0.2s linear 0s;-moz-transition: all 0.2s linear 0s; cursor:pointer;}
.bottom-nav-t-r ul li p{ display:block; float:left; cursor:pointer; color:#000;}
.bottom-nav-t-r ul li a:hover{ text-decoration:none;}
#b1{ background-position:0px -40px;width:38px; height:40px;}
.bottom-nav-t-r ul li:hover #b1{background-position:0px 5px;}
#b2{ background-position:-66px -40px;}
.bottom-nav-t-r ul li:hover #b2{background-position:-66px 6px;}
#b3{ background-position:-130px -40px;}
.bottom-nav-t-r ul li:hover #b3{background-position:-130px 2px;}
#b4{ background-position:-195px -40px;}
.bottom-nav-t-r ul li:hover #b4{background-position:-195px 5px;}
#b5{ background-position:-260px -40px;}
.bottom-nav-t-r ul li:hover #b5{background-position:-260px 4px;}

.bottom-nav-c{ height:242px;}
.bottom-nav-c a{ padding:0px 5px; padding-bottom:2px;border-radius:2px; text-decoration: none; -webkit-transition: all .3s linear 0s; -moz-transition: all .3s linear 0s; -ms-transition: all .3s linear 0s; outline: none;star:expression(this.onFocus=this.blur());}
.bottom-nav-c a:hover{ background:#91263a; color:#fff;}
.bottom-nav-c dl{ width:200px; float:left;}
.bottom-nav-c dt span{display:inline-block; float:left; width:24px; height:24px; background:url(../style/css/img/bt-xm-l.jpg) no-repeat 0px 0px;margin-top:7px;transition: all 0.2s linear 0s;-o-transition: all 0.2s linear 0s;-moz-transition: all 0.2s linear 0s;margin-right: 5px;}
.bottom-nav-c dl dt p a:hover{ text-decoration:none;}
#c1{ background-position:-26px 0px;}
.bottom-nav-c dt p:hover #c1{background-position:0px 0px;}
#c2{ background-position:-26px -27px;}
.bottom-nav-c dt p:hover #c2{background-position:0px -27px;}
#c3{ background-position:-26px -54px;}
.bottom-nav-c dt p:hover #c3{background-position:0px -54px;}
#c4{ background-position:-26px -83px;}
.bottom-nav-c dt p:hover #c4{background-position:0px -83px;}
#c5{ background-position:-26px -110px;}
.bottom-nav-c dt p:hover #c5{background-position:0px -110px;}
#c6{ background-position:-26px -138px;}
.bottom-nav-c dt p:hover #c6{background-position:0px -138px;}
.bottom-nav-c dt{ width:130px; float:left;}
.bottom-nav-c ul{ width:180px; float:left;}
.bottom-nav-c li{ padding-left:38px;}
.bottom-nav-c li a:hover{ text-decoration:none;}
#bottom-nav-c{ width:160px;}

.bottom-nav-fd{ width:29px; height:29px; font-size:12px; position:absolute; right:-50px; top:33px;}
.bottom-nav-fd dl{ height:67px;}
.bottom-nav-fd dd{ width:29px; height:30px; overflow:hidden;}
.bottom-nav-fd dt{ line-height:15px; text-align:center;}
.bottom-nav-fd dt a{ color:#5c5c5c;}
.bottom-nav-fd dt a:hover{ color:#834802; text-decoration:none;}




#footer{ width:100%; height:488px; border-top:1px solid #e1e1e1; background: url(../style/css/img/bottom-bg.jpg) repeat-x;}
.footer{ width:1100px; margin:0px auto; height:400px; padding-top:32px; color:#aaa; position:relative;}
.footer-1{ width:340px; padding-left:17px; height:300px; float:left; border-right:1px solid #3f3f3f;}
.footer-1 h3{ height:30px; line-height:25px; font-family:"微软雅黑","黑体"; font-size:16px; font-weight:normal; color:#fff; padding-left:4px;}
.footer-1 p{ width:285px; height:162px; border-bottom:1px solid #333; line-height:28px;}
.footer-1 p a{ color:#aaa; padding:3px 5px;text-decoration:none;border-radius:2px;transition: all 0.3s linear 0s;}
.footer-1 p a:hover{ color:#fff; text-decoration:none; background:#91263a;}
.footer-1 span{ padding-top:20px; padding-left:6px; display:block;}


.footer-2{ width:340px; padding-left:55px; height:300px; float:left; border-left:1px solid #141414; border-right:1px solid #3f3f3f;}
.footer-2 h3{ padding-left:5px; height:30px; line-height:25px; font-family:"微软雅黑","黑体"; font-size:16px; font-weight:normal; color:#fff;}
.footer-2 h4{ padding-left:5px; height:30px; line-height:25px; padding-top:27px; font-family:"微软雅黑","黑体"; font-size:16px; font-weight:normal; color:#fff;}
.footer-2 p{ padding-left:5px;line-height:28px; padding-bottom:3px;}
.footer-2 b{ width:285px; font-weight:normal;}
.footer-2 b a{ color:#aaa; padding:3px 5px;border-radius:2px;transition: all 0.3s linear 0s;}
.footer-2 b a:hover{ background:#91263a; color:#fff; text-decoration:none;}
.footer-2 span{ padding-left:5px; padding-top:5px; display:block;}
.footer-2 span s{ width:55px; height:55px; margin-right:15px; display:block; float:left; background:url(../style/css/img/bt-xm.jpg) 0px -90px no-repeat;transition: all 0.3s linear 0s;}
.footer-2 span:hover s{ background:url(../style/css/img/bt-xm.jpg) 0px -145px no-repeat;}

.footer-3{ width:260px; padding-left:55px; height:300px; float:left; border-left:1px solid #141414;}
.footer-3 dl{ height:160px;}
.footer-3 dd{ width:152px; float:left;}
.footer-3 dt{ width:100px; float:left; line-height:30px;}
.footer-3 span{ width:252px; height:120px; display:block; position:relative;}
.footer-3 span a{ width:252px; height:74px; display:block; background:url(../style/css/img/order-c1-ico.jpg) 0px -245px no-repeat;}
.footer-3 span s{ width:42px; height:42px; display:block; overflow:hidden; background:url(../style/css/img/order-c1-ico.jpg) -252px -245px no-repeat;animation: mclogo 5s ease-out 1s infinite;
-webkit-animation: mclogo 5s ease-out 1s infinite; position:absolute; right:0px; top:0px;}
@keyframes mclogo{
	0% { transform:rotateY(180deg);}
	20% { transform:rotateY(180deg);}	
	40% { transform:rotateY(-180deg);}	
    100% { transform:rotateY(-180deg);}	
	}
@-webkit-keyframes mclogo{
	0% { -webkit-transform:rotateY(180deg);}
	20% { -webkit-transform:rotateY(180deg);}	
	40% { -webkit-transform:rotateY(-180deg);}	
    100% { -webkit-transform:rotateY(-180deg);}	
	}
.footer-3 span p{ font-family:"微软雅黑","黑体"; line-height:32px; text-align:center; font-size:15px; color:#aaa;}

.footer2{ text-align:center;}
.footer2 a{ padding:2px 5px;text-decoration:none;border-radius:2px;transition: all 0.3s linear 0s;}
.footer2 a:hover{ color:#fff; text-decoration:none; background:#91263a;}

/*新品推荐*/

.safety{ width:1100px; margin:20px auto; overflow:hidden; background:#fff;padding: 10px 0px;}
.safety .safety_left{ width:285px; float:left; margin-left:15px;}
.safety .safety_left .safety_left_t{ float:left; display:inline-block; padding-bottom:10px;}
.safety .safety_left ul li{ float:left; margin-right:1px; margin-bottom:2px; display:inline-block; cursor:pointer; width:139px; height:160px; position:relative; overflow:hidden;}
.safety .safety_left ul li a{ display:block; width:139px; height:160px; text-decoration: none;}
.safety .safety_left ul li .safelicon{ width:139px; height:160px; position:absolute; cursor:pointer; background:url(../style/css/img/safetylibg.png) no-repeat !important; top:135px; left:0px;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../style/css/img/safetylibg.png', sizingMethod='scale'); background:none;
}
.safety .safety_left ul li .safelicon .safelicon_t{width:139px; height:25px; text-align:center; line-height:25px; color:#fff;}
.safety .safety_left ul li .safelicon .safelicon_c{ width:129px; padding:5px; margin:0 auto; color:#fff; line-height:170%; cursor:pointer;}

.safety .safety_right{ float:left; width:765px; height:360px; margin-left:20px;}
.safety .safety_right .safety_right_t{width:765px; float:left; display:inline-block;}
.safety .safety_right .safety_right_t .safety_right_tl{ float:left; display:inline-block;}
.safety .safety_right .safety_right_t .safety_right_tr{width: 68px;height: 19px;line-height: 18px;float: right;margin-top: 5px;display: block;padding-left: 22px;font-size: 16px;font-family: "微软雅黑","黑体";
background: url(../style/css/img/ico.jpg) -280px -216px no-repeat;}
.safety .safety_right .safety_right_t .safety_right_tr a{ text-decoration:none;}

.safety .safety_right .safety_right_con{ width:765px; overflow:hidden; float:left; margin-top:11px;}
.safety_right_con .safety_right_conl{ width:529px; height:322px; float:left;}
.safety_right_con .safety_right_conl div{ width:529px; height:322px; overflow:hidden; display:inline-block; position:relative;}
.safety_right_con .safety_right_conl div span{ width:509px; height:45px; display:block; position:absolute; left:0px; background:url(../style/css/img/safetyspanbg.png) no-repeat !important;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../style/css/img/safetyspanbg.png', sizingMethod='scale'); background:none; bottom:-68px; color:#fff; padding:10px;}


.safety_right_con .safety_right_conr{ float:left; width:229px; margin-left:6px; display:inline;}
.safety_right_con .safety_right_conr ul { margin-top:-2px;}
.safety_right_con .safety_right_conr ul li{ width:200px; height:51px; margin:3px 0px; background:url(../style/css/img/safety_libg.jpg) no-repeat 0px -50px; line-height:50px; font-family:"微软雅黑"; font-size:16px; padding-left:29px; color:#000; cursor:pointer;}
.safety_right_con .safety_right_conr ul li a{ color:#000;}
.safety_right_con .safety_right_conr ul li a:hover{ color:#fff; text-decoration:none;}
.safety_right_con .safety_right_conr ul li.safety_hli{ background:url(../style/css/img/safety_libg.jpg) no-repeat 0px 0px; color:#fff;}
.safety_right_con .safety_right_conr ul li.safety_hli a{ color:#fff;}

.safety .more_safety{ width:1100px; margin-top:20px; border-top:1px solid #ebebeb; overflow:hidden;}
.safety .more_safety .more_safety_l{ width:185px; padding-left:15px; height:112px; line-height:112px; font-family:"微软雅黑"; font-size:24px; color:#000; float:left;}
.safety .more_safety .more_safety_c{width:780px; float:left; padding-top:26px;}
.safety .more_safety .more_safety_c dl{ float:left;width:260px;}
.safety .more_safety .more_safety_c dt{ float:left;width:70px;}
.safety .more_safety .more_safety_c dd{ float:left; width:165px; line-height:18px;}
.safety .more_safety .more_safety_c dd h3{ font-size:15px;padding-bottom: 5px;color:#000; font-weight:normal;font-family:"微软雅黑";}
.safety .more_safety .more_safety_c dd h3 a{ color:#000; padding:0px 5px; padding-bottom:1px; border-radius:2px;transition: all 0.3s linear 0s;}
.safety .more_safety .more_safety_c dd h3 a:hover{color:#fff; text-decoration:none; background:#8e2239;}
.safety .more_safety .more_safety_c dd p{ padding-left:5px;}
.safety .more_safety .more_safety_r{width:120px; float:left; padding-top:26px;}
.safety .more_safety .more_safety_r dl{width:60px; float:left;}
.safety .more_safety .more_safety_r dt{width:47px; height:47px;}
.safety .more_safety .more_safety_r #more_safety_r1 dt a{background: url(../style/css/img/order-c1-ico.jpg) -3px 0px no-repeat; display:block; width:47px; height:47px;transition: all 0.3s linear 0s;}
.safety .more_safety .more_safety_r #more_safety_r1:hover dt a{ background:url(../style/css/img/order-c1-ico.jpg) -3px -47px no-repeat;transition: all 0.3s linear 0s;}
.safety .more_safety .more_safety_r #more_safety_r1:hover dd a{color:#b62626; text-decoration:none;}
.safety .more_safety .more_safety_r #more_safety_r2 dt a{background: url(../style/css/img/order-c1-ico.jpg) -57px 0px no-repeat; display:block; width:47px; height:47px;transition: all 0.3s linear 0s;}
.safety .more_safety .more_safety_r #more_safety_r2:hover dt a{ background:url(../style/css/img/order-c1-ico.jpg) -57px -47px no-repeat;}
.safety .more_safety .more_safety_r #more_safety_r2:hover dd a{color:#b62626;}

/*************活动专区****************/
.focus_body { font-family:"microsoft yahei"; position: relative; width: 343px; height: 183px;background: #FFF;}
.scroll { width: 343px; margin: 0 auto; position: relative; height: 183px; overflow: hidden;}
.scroll .box { float: left; width: 343px; height: 183px; position: relative;}
.scroll .box img { width: 343px; height: 183px; }
.scroll_cont { width: 343px; height: 183px; overflow: hidden; position: relative; }
.numList { position: absolute; right: 110px; top: -40px; right:0px; height: 35px; }
.numList span { display: inline-block; width: 8px; height: 8px; margin-left: 5px; cursor: pointer; background:#666; margin-top: 14px; border-radius:8px;}
.numList span.selected {background:#91263a;}


/*************老顾客悬浮****************/
.lgk-left{ width:140px; height:122px; cursor:pointer; position:fixed; top:40%; left:-110px; _position:absolute; _top:expression(eval(document.documentElement.scrollTop+200));}
.lgk-left ul{ width:110px;  height:122px; overflow:hidden; background:#fff; float:left;}
.lgk-left p{ width:30px; float:left;}
.lgk-left li{ width:100px; padding-left:10px; height:62px; overflow:hidden; border-bottom:1px solid #e8e8e8;}
.lgk-left li span{ padding-top:20px; display:block;}
.lgk-left li s{ padding-top:15px; display:block;}

.lgk-swt{ width:500px; height:275px; background:url(../style/css/img/lgk-swt-bg.png) no-repeat; transform:scale(0,0); -webkit-transform:scale(0,0); -moz-transform:scale(0,0); -o-transform:scale(0,0); -ms-transform:scale(0,0);}
.lgk-swt-i{height:227px;}
.lgk-swt-i span{ width:42px; height:42px; display:block; float:right; cursor:pointer; background:url(../style/css/img/lgk-swt-ico.png) center no-repeat;}
.lgk-swt-c{ font-size:14px; color:#262626; font-family:"宋体";}
.f_tel{ width:135px; color:#737373; height:26px; line-height:26px; padding-left:3px; border:1px solid #cecece; background:#fff;}
.lgk-swt-sj{ width:135px; color:#737373; line-height:26px; padding-left:3px; padding:5px; border:1px solid #cecece; background:#fff;}
.nn{ width:42px; height:26px; border:0px; color:#fff; cursor:pointer; background:#91253c;}

#lgk-swt-base{position:fixed; top:40%; z-index:100001; margin-left:-211px !important; margin-top:-100px !important; _position:absolute; _top:expression(eval(document.documentElement.scrollTop+200));}
.lgk-swt-open{
	display: block;
	transition: all 0.5s linear 0s;
	transform: scale(1,1); 
	-webkit-transform: scale(1, 1); 
	-moz-transform: scale(1, 1); 
	-o-transform: scale(1, 1); 
	-ms-transform: scale(1, 1);
}
