	 
body{ margin:0px; padding:0px; font-size:12px;font-family:"微软雅黑","黑体";color:#3D3D3D;line-height:24px; background:#f1f1f1;}
ul,li,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,ol,form{ margin:0px; padding:0px;}
ul,li{ list-style:none}
img{border:0px; padding:0px;}
a{ color:#5c5c5c; text-decoration:none}
a:hover{ color:#8e2239;text-decoration:underline}
.clear{ clear:both;font-size:0px; line-height:0px}
.divleft{ float:left}
.divright{ float:right}
.hidden{display:none;}

*html{background-image:url(d); background-attachment:fixed;}



/*-----------------------右边浮动商务通样式----------------------------*/
.swt-right-index{ width:131px; height:334px; position:fixed; right:-84px; top:150px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+200));z-index:10000;}
.swt-right-index ul{}
.swt-right-index li{ width:131px; height:57px; line-height:0px; line-height:0px; font-size:0px; position:absolute;}
.swt-right-index a{ width:131px;}
.swt-right-index1{ top:0px;}
.swt-right-index1 a{height:49px; display:block; background:url(../style/css/img/swt-right-pic1.jpg) no-repeat;}
.swt-right-index1 .swt-hover{ height:49px; background:url(../style/css/img/swt-right-pic2.jpg) no-repeat;}
.swt-right-index2{ top:59px;}
.swt-right-index2 a{height:49px; display:block; background:url(../style/css/img/swt-right-pic1.jpg) 0px -49px no-repeat;}
.swt-right-index2 .swt-hover{ height:49px; background:url(../style/css/img/swt-right-pic2.jpg) 0px -49px no-repeat;}
.swt-right-index3{top:118px;}
.swt-right-index3 a{height:49px; display:block; background:url(../style/css/img/swt-right-pic1.jpg) 0px -98px no-repeat;}
.swt-right-index3 .swt-hover{ height:49px; background:url(../style/css/img/swt-right-pic2.jpg) 0px -98px no-repeat;}
.swt-right-index4{ top:177px}
.swt-right-index4 a{height:49px; display:block; background:url(../style/css/img/swt-right-pic1.jpg) 0px -147px no-repeat;}
.swt-right-index4 .swt-hover{ height:49px; background:url(../style/css/img/swt-right-pic2.jpg) 0px -147px no-repeat;}
.swt-right-index5{ top:236px;}
.swt-right-index5 a{height:49px; display:block; background:url(../style/css/img/swt-right-pic1.jpg) 0px -196px no-repeat;}
.swt-right-index5 .swt-hover{ height:49px; background:url(../style/css/img/swt-right-pic2.jpg) 0px -196px no-repeat;}
.swt-right-index6{ top:295px;}
.swt-right-index6 a{height:49px; display:block; background:url(../style/css/img/swt-right-pic1.jpg) 0px -245px no-repeat;}
.swt-right-index6 .swt-hover{ height:49px; background:url(../style/css/img/swt-right-pic2.jpg) 0px -245px no-repeat;}


/*-----------------------底部版权样式----------------------------*/
#footer{ width:100%; height:195px; border-top:1px solid #e1e1e1; background:#fff;}
.footer{ width:1100px; margin:0px auto; padding-top:25px;}
.footer-l{ width:235px; float:left; padding-left:15px;}
.footer-r{ width:835px; float:right; padding-top:10px; text-align:right; padding-right:15px; color:#555; line-height:28px;}
.footer-r span{ font-size:14px; margin-left:20px;} 


/**微信滚动条**/
.qrcode{
	-webkit-animation-name: qrcode;
    -moz-animation-name: qrcode;
    -o-animation-name: qrcode;
    animation-name: qrcode;
	
	-webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-delay: 0.5s;
	
	-webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes qrcode {
    0% {top:-17px;opacity: 1;}
    50% {top:160px;opacity: 1;}
    100% {top:-17px;opacity: 1;}
}
@-moz-keyframes qrcode {
    0% {top:-17px;opacity: 1;}
    50% {top:160px;opacity: 1;}
    100% {top:-17px;opacity: 1;}
}
@-o-keyframes qrcode {
    0% {top:-17px;opacity: 1;}
    50% {top:160px;opacity: 1;}
    100% {top:-17px;opacity: 1;}
}
@keyframes qrcode {
    0% {top:-17px;opacity: 1;}
    50% {top:160px;opacity: 1;}
    100% {top:-17px;opacity: 1;}
}